<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>


<div class="container" style="max-width: 100%;">
  <div class="page cover nature">
    <div class="title">
      <h1>My Work</h1>
      <h4>
        A brief .</h4>
      </div>
    </div>
    <div class="page" style="height: 3300px;">
      <div class="content">
        <br>
        <br>
        <br>
        <h1 style="text-align: center; color:black;"> Employment History</h1>
        <ul class="timeline" style="color: rgb(50,50,50);
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;">
          <br>
          <br>
    <!-- Item 1 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Machine Learning Student</span>
                <span class="time-wrapper"><span class="time">2017 - present</span></span>
              </div>
              <div class="desc">Attending a Data Scientist course in Barcelona by Ubiqum</div>
            </div>
          </li>
    <!-- Item 2 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Full Stack Web Developer.</span>
                <span class="time-wrapper"><span class="time">2017 - present</span></span>
              </div>
              <div class="desc">Junior developer building a freelance client base.</div>
            </div>
          </li>
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Consultant for UAS-CG</span>
                <span class="time-wrapper"><span class="time">2017 - present</span></span>
              </div>
              <div class="desc">Working as an independent contractor for Unmanned Aerial Systems Consulting Group.</div>
            </div>
          </li>
    <!-- Item 2 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">First Patent Filed</span>
                <span class="time-wrapper"><span class="time">2016</span></span>
              </div>
              <div class="desc">Waiting for my first office call on my first non-provisional patent!.</div>
            </div>
          </li>

 <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Contracting Lead</span>
                <span class="time-wrapper"><span class="time">2016 - 2017</span></span>
              </div>
              <div class="desc">My current employment. Way better than the position before!</div>
            </div>
          </li>


    <!-- Item 2 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Completed my M.B.A.</span>
                <span class="time-wrapper"><span class="time">2016</span></span>
              </div>
              <div class="desc">Earned an MBA from American Military University with an Emphasis in Entrepreurship</div>
            </div>
          </li>
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Advisor to Saudi Arabia</span>
                <span class="time-wrapper"><span class="time">2015 - 2016</span></span>
              </div>
              <div class="desc">Advised senior Saudi leaders on aviation tactics and implementation.</div>
            </div>
          </li>
    <!-- Item 2 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Army Company Commander</span>
                <span class="time-wrapper"><span class="time">2012 - 2014</span></span>
              </div>
              <div class="desc">Commander of the Army's first MQ-1C Company</div>
            </div>
          </li>
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Army Apache Platoon Leader</span>
                <span class="time-wrapper"><span class="time">2011 - 2012</span></span>
              </div>
              <div class="desc">Lead an AH-64D Attack Platoon in Iraq and the U.S.</div>
            </div>
          </li>
    <!-- Item 2 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">Army Battle Captain</span>
                <span class="time-wrapper"><span class="time">2010 - 2011</span></span>
              </div>
              <div class="desc">Managed the sequencing and timing of combat aircraft for the largest ever Aviation Task Force in Baghdad, Iraq.</div>
            </div>
          </li>
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="flag">Army Apache Pilot</span>
                <span class="time-wrapper"><span class="time">2009 - 2017</span></span>
              </div>
              <div class="desc">AH-64D Pilot in Command and Air Mission Commander</div>
            </div>
          </li>
    <!-- Item 2 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="flag">B.S. in Life Science</span>
                <span class="time-wrapper"><span class="time">2007</span></span>
              </div>
              <div class="desc">Graduated from the United States Military Academy.  </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="page cover active webdev">
      <div class="title">
        <h1>Freelance Web Developer</h1>

        <h4>
          <strong>Full Stack RoR Developer</strong>A Graduate of the Le Wagon Coding School, I currently work freelance developing tailored solutions for clients.  From mailers to streaming audio and custom graphics, I work to bring ideas from sketches to a fully responsive hosted solution.  Take a look at some of my projects: www.wesleykc.com and www.galler-i.com.</h4>

        </div>
      </div>



            <div class="page cover uascg">
              <div class="title">
                <h1>Consultant for UAS-CG</h1>

                <h4>
                  <strong>Army Drone Subject Matter Expert</strong>Leveraging 10 years of Army Aviation experience and Unmanned Aerial System development, testing and fielding, I provide input to clients on system compatibility with Army systems.</h4>

                </div>
              </div>

                  <div class="page cover advisor">
                    <div class="title">
                      <h1>Advisor to the Royal Saudi Land Forces</h1>

                      <h4>
                        <strong>RSLF Aviation Advisor</strong>senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</h4>

                      </div>
                    </div>

                        <div class="page cover commander">
                          <div class="title">
                            <h1>Company Commander</h1>

                            <h4>
                              <strong>Pellentesque habitant morbi tristique</strong>senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</h4>

                            </div>
                          </div>

<div class="page cover pilot">
                          <div class="title">
                            <h1>Apache Pilot</h1>

                            <h4>
                              <strong>Pellentesque habitant morbi tristique</strong>senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</h4>

                            </div>
                          </div>
                            </div>

                          </div>
