<div id='hero'>

  <div class='layer-bg layer' data-depth='0.30' data-type='parallax'></div>

  <!-- <div class='layer-1 layer' data-depth='0.20' data-type='parallax'><div class="scramble">
        <div class="text"></div>
      </div></div> -->
  <div class='layer-2 layer' data-depth='0.70' data-type='parallax'></div>
  <div class='layer-3 layer' data-depth='0.80' data-type='parallax'><div class="scramble">
        <div class="text"></div>
      </div></div>
  <!-- <div class='layer-overlay layer' data-depth='0.85' data-type='parallax'></div>
  <div class='layer-4 layer' data-depth='1.00' data-type='parallax'></div> -->
</div>

<div id='hero-mobile'></div>
<div id="box-6" style="margin-top: -14%;">
      <div class="container" >
        <div class="row">

        <h3 style="text-align: center; font-family: 'Roboto Mono', monospace; font-size: 8vw;font-weight: bolder;" >>Projects_</h3>
          <div class="col-md-6" style="padding:20px;">

            <div class="menu-container">
              s
              <div class="hex-wrapper">
                <div class="hex-row shift">
                  <div class="hexagon" id="nav-home">
                    Travel
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                </div>
                <div class="hex-row">
                  <div class="hexagon" id="nav-about">
                    Inventions
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                  <div class="hex-row shift">
                    <div class="hexagon" id="nav-home">
                      Research
                      <div class="face1"></div>
                      <div class="face2"></div>
                    </div>
                  </div>
                  <div class="hexagon" id="nav-work">
                    Web Projects
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>  </div>
      </div>
      <div id="box-6">
      <div class="container" >
        <div class="row">

        <h3 style="text-align: center; padding-top: 13vh; font-family: 'Roboto Mono', monospace; font-size: 8vw;font-weight: bolder;" >>Projects_</h3>
          <div class="col-md-6" style="padding:20px;">

            <div class="menu-container">
              s
              <div class="hex-wrapper">
                <div class="hex-row shift">
                  <div class="hexagon" id="nav-home">
                    Travel
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                </div>
                <div class="hex-row">
                  <div class="hexagon" id="nav-about">
                    Inventions
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                  <div class="hex-row shift">
                    <div class="hexagon" id="nav-home">
                      Research
                      <div class="face1"></div>
                      <div class="face2"></div>
                    </div>
                  </div>
                  <div class="hexagon" id="nav-work">
                    Web Projects
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>  </div>
      </div>
      <div id="box-6">
      <div class="container" >
        <div class="row">

        <h3 style="text-align: center; padding-top: 13vh; font-family: 'Roboto Mono', monospace; font-size: 8vw;font-weight: bolder;" >>Projects_</h3>
          <div class="col-md-6" style="padding:20px;">

            <div class="menu-container">
              s
              <div class="hex-wrapper">
                <div class="hex-row shift">
                  <div class="hexagon" id="nav-home">
                    Travel
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                </div>
                <div class="hex-row">
                  <div class="hexagon" id="nav-about">
                    Inventions
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                  <div class="hex-row shift">
                    <div class="hexagon" id="nav-home">
                      Research
                      <div class="face1"></div>
                      <div class="face2"></div>
                    </div>
                  </div>
                  <div class="hexagon" id="nav-work">
                    Web Projects
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>  </div>
      </div>
