

<body>



  <div style="background-color:#555;">

    <div id="box-2" >

<h3 style="text-align: center; padding-top: 20vh; font-family: 'Roboto Mono', monospace; font-size: 6vw;font-weight: bolder;" >>Joseph DiFrancesco_</h3>
      <div class="scramble">
        <div class="text"></div>
      </div>
    </div>
  </div>

  <body>


    <div id="box-6">
      <div class="container" >
        <div class="row">

        <h3 style="text-align: center; padding-top: 13vh; font-family: 'Roboto Mono', monospace; font-size: 8vw;font-weight: bolder;" >>Projects_</h3>
          <div class="col-md-6" style="padding:20px;">

            <div class="menu-container">
              s
              <div class="hex-wrapper">
                <div class="hex-row shift">
                  <div class="hexagon" id="nav-home">
                    Travel
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                </div>
                <div class="hex-row">
                  <div class="hexagon" id="nav-about">
                    Inventions
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                  <div class="hex-row shift">
                    <div class="hexagon" id="nav-home">
                      Research
                      <div class="face1"></div>
                      <div class="face2"></div>
                    </div>
                  </div>
                  <div class="hexagon" id="nav-work">
                    Web Projects
                    <div class="face1"></div>
                    <div class="face2"></div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>  </div>
      </div>

      <img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1503175757/map_eobxb3.png" style="max-width: 400px;display: block; margin-right: auto; margin-left: auto;">
      <div class="container" style="background-color: white; margin-top: 5%; margin-bottom: 5%; border-radius: 2%;" >
        <div class="intro">

          <h2 class="text-center" style="font-size: 5vw;"><br> 635 N 32nd Street, <br>Kansas City, KS 66102 <br><br></h2>

          <h2 class="text-center" style="font-size: 4vw;"> 9:15 AM Sunday <br><br></h2>

          <br>

          <iframe style="display: block; margin-left:auto;margin-right: auto;margin-bottom: 10%;box-shadow:15px 14px 20px;border-radius: 10%;"
          width="80%"
          height="400"

          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d773.9351088970099!2d-94.66666226231014!3d39.112379249434824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0f3b7e327921d%3A0xa78479f884037e89!2sWesley+United+Methodist+Church!5e0!3m2!1sen!2sus!4v1502569671890" allowfullscreen>
        </iframe>

      </div>
    </div>

    <div id="box-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6" style="padding:20px;">


            <div class="container-scramble">
              <div class="text"></div>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 10vh"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405929/dove-png-41759_jxurxu.png" style="display:block;margin-left:auto;margin-top:37%;margin-right:auto;"></div>
        </div>
      </div>
    </div>
    <div class="container" style="background-color: white; margin-top: 5%; margin-bottom: 5%; border-radius: 2%;">
      <div class="row">
        <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405117/bennett_nuabm5.jpg" style="border-radius:50%;display:block;margin-left:auto;margin-top:18%;margin-right:auto;margin-bottom:5%;box-shadow:15px 14px 20px;"></div>
        <div class="col-md-6" style="margin-top:7%;">
          <blockquote style="box-shadow:15px 14px 20px;">
            <p style="color:black;">Do all the good you can. By all the means you can. In all the places you can. At all the times you can. To all the people you can. As long as ever you can.</p>
            <footer>John Wesley</footer>
          </blockquote>
        </div>
      </div>
    </div>



<html>
<head>
<link href="style.css" rel="stylesheet">
</head>
<body>
<h1> 3 World places to visit this new year</h1>
<div class="wrapper">

  <div class="container" id="c0">
    <div class="image" id="i0">

      <div class="city">
      <?xml version="1.0" encoding="utf-8"?>

      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 300 225" style="enable-background:new 0 0 300 225;" xml:space="preserve">
      <ellipse class="st4" id="sh1" cx="170.5" cy ="124.75" rx="37.5" ry="37.5"/>
      <ellipse id="XMLID_15_" class="st4" cx="170.5" cy="124.75" rx="27.5" ry="27.5"/>

      <polygon id="XMLID_1_" class="st2" points="-0.301,224.5 74.849,149.5 150,224.5 "/>
      <polygon id="XMLID_2_" class="st0" points="108,224.5 74.849,149.5 150,224.5 "/>
      <polygon id="XMLID_4_" class="st2" points="207.256,225.5 253.849,179 300.443,225.5 "/>
      <polygon id="XMLID_3_" class="st0" points="274.403,225.5 253.849,179 300.443,225.5 "/>
      <line id="XMLID_5_" class="st1" x1="179" y1="202" x2="179" y2="226"/>
      <line id="XMLID_6_" class="st1" x1="179" y1="207" x2="190" y2="207"/>
      <line id="XMLID_7_" class="st1" x1="172" y1="214" x2="180" y2="214"/>
      <line id="XMLID_8_" class="st1" x1="190" y1="202" x2="190" y2="207"/>
      <line id="XMLID_9_" class="st1" x1="172" y1="207" x2="172" y2="214"/>
      <circle id="XMLID_10_" class="st3" cx="87.5" cy="98.5" r="1.5"/>
      <circle id="XMLID_11_" class="st3" cx="24.5" cy="68.5" r="2.5"/>
      <circle id="XMLID_12_" class="st3" cx="219.5" cy="18.5" r="1.5"/>
      <circle id="XMLID_13_" class="st3" cx="272.5" cy="03.5" r="2.0"/>
      <circle id="XMLID_14_" class="st3" cx="144.5" cy="12.5" r="1.0"/>
      <circle id="XMLID_10_" class="st3" cx="107.5" cy="328.5" r="1.5"/>
      <circle id="XMLID_11_" class="st3" cx="24.5" cy="58.5" r="2.5"/>
      <circle id="XMLID_12_" class="st3" cx="19.5" cy="128.5" r="1.5"/>
      <circle id="XMLID_13_" class="st3" cx="72.5" cy="113.5" r="2.0"/>
      <circle id="XMLID_14_" class="st3" cx="174.5" cy="92.5" r="1.0"/>

      </svg>

      </div>
    </div>
    <div class="story" id="s0">
      <div class="info">
      <h3>Pyramids</h3>
      <p> Built during a time when Egypt was one of the richest and most powerful civilizations in the world. Their massive scale reflects the unique role that the pharaoh played in ancient Egyptian society.</p>
      </div>
    </div>
  </div>
  <div class="container" id="c1">
    <div class="image" id="i1">
      <div class="city">
      <?xml version="1.0" encoding="utf-8"?>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 300 225" style="enable-background:new 0 0 300 225;" xml:space="preserve">
      <ellipse class="st5" id="sh3" cx="150.5" cy ="224.75" rx="77.5" ry="77.5"/>

      <ellipse class="st5" id="sh2" cx="150.5" cy ="224.75" rx="57.5" ry="57.5"/>
      <ellipse id="XMLID_15_" class="st5" cx="150.5" cy="224.75" rx="37.5" ry="37.5"/>

      <path id="XMLID_1_" class="st6" d="M68.955,225H47.93l8.333-53.171c0.213-1.361,1.386-2.364,2.763-2.364h6.202
        c1.464,0,2.68,1.129,2.789,2.588l3.727,49.942C71.865,223.617,70.581,225,68.955,225z"/>
      <polygon id="XMLID_2_" class="st6" points="111.754,225 90.203,225 96.005,169.465 103.051,169.465 "/>
      <path id="XMLID_3_" class="st6" d="M112.233,175.682H50.767c-3.855,0-6.981-3.125-6.981-6.981v-3.182
        c0-3.796,3.033-6.896,6.827-6.979l61.466-1.351c3.914-0.086,7.134,3.064,7.134,6.979v4.533
        C119.214,172.556,116.089,175.682,112.233,175.682z"/>
      <path id="XMLID_4_" class="st6" d="M202.538,225h-15.319c-2.837,0-5.444,0.24-5.005-2.25l8.296-47.01
        c0.352-1.997,2.289-3.468,4.565-3.468h3.721c2.419,0,4.428,1.656,4.608,3.798l3.741,44.52C207.346,222.971,205.225,225,202.538,225z
        "/>
      <polygon id="XMLID_5_" class="st6" points="245.98,225 223.157,225 231.421,172.272 242.045,172.272 "/>
      <polygon id="XMLID_6_" class="st6" points="283.798,225 262.163,225 267.988,169.25 275.061,169.25 "/>
      <path id="XMLID_7_" class="st6" d="M275.011,178.032h-84.307c-4.478,0-8.107-3.63-8.107-8.107v-8.817
        c0-4.669,3.933-8.373,8.593-8.093l84.307,5.064c4.281,0.257,7.621,3.804,7.621,8.093v3.754
        C283.118,174.403,279.489,178.032,275.011,178.032z"/>

      <circle id="XMLID_11_" class="st7" cx="24.5" cy="68.5" r="2.5"/>
      <circle id="XMLID_12_" class="st7" cx="219.5" cy="28.5" r="1.5"/>
      <circle id="XMLID_13_" class="st7" cx="272.5" cy="103.5" r="2.0"/>
      <circle id="XMLID_14_" class="st7" cx="144.5" cy="92.5" r="1.0"/>

      <circle id="XMLID_11_" class="st7" cx="4.5" cy="88.5" r="2.5"/>
      <circle id="XMLID_12_" class="st7" cx="29.5" cy="38.5" r="1.5"/>
      <circle id="XMLID_13_" class="st7" cx="222.5" cy="143.5" r="2.0"/>
      <circle id="XMLID_14_" class="st7" cx="114.5" cy="42.5" r="1.0"/>

      </svg>

      </div>
    </div>
    <div class="story" id="s1">
      <div class="info">
        <h3>Stonehenge</h3>
      <p> Stonehenge is a prehistoric monument in Wiltshire, England. It was constructed in several stages between 3000 and 1500 B.C., spanninng to the Bronze Age.</p>
      </div>
    </div>
  </div>
  <div class="container" id="c2">
    <div class="image" id="i2">
      <div class="city">
      <?xml version="1.0" encoding="utf-8"?>


      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 300 225" style="enable-background:new 0 0 300 225;" xml:space="preserve">
      <ellipse class="st5" id="sh3" cx="150.5" cy ="224.75" rx="77.5" ry="77.5"/>

      <ellipse class="st5" id="sh2" cx= "150.5" cy ="224.75" rx="57.5" ry="57.5"/>
      <ellipse id="XMLID_15_" class="st5" cx="150.5" cy="224.75" rx="37.5" ry="37.5"/>
      l:none;stroke:#000000;stroke-miterlimit:10;}
      </style>l:none;stroke:#000000;stroke-miterlimit:10;}
      </style>
      l:none;stroke:#000000;stroke-miterlimit:10;}
      </style>
      <polygon id="XMLID_1_" class="st10" points="69.807,224.719 72.715,209.374 71.974,203.342 120.42,211.753 118.199,217.581
        115.799,232.384 "/>
      <polygon id="XMLID_2_" class="st10" points="77.295,204.276 79.544,191.37 78.827,186.294 119.809,193.405 118.277,198.349
        116.264,210.769 "/>
      <polygon id="XMLID_3_" class="st10" points="80.163,186.582 82.413,173.676 81.696,168.6 122.677,175.711 121.146,180.655
        119.132,193.075 "/>
      <polygon id="XMLID_4_" class="st10" points="83.032,168.888 85.282,155.982 84.565,150.906 125.546,158.017 124.015,162.961
        122.001,175.381 "/>
      <polygon id="XMLID_5_" class="st10" points="85.901,151.194 88.151,138.288 87.433,133.212 128.415,140.323 126.884,145.267
        124.87,157.687 "/>
      <polygon id="XMLID_6_" class="st10" points="88.77,133.5 91.019,120.594 90.302,115.518 131.284,122.629 129.752,127.573
        127.739,139.993 "/>
      <polygon id="XMLID_7_" class="st10" points="91.638,115.806 93.888,102.9 93.171,97.824 134.152,104.935 132.621,109.879
        130.607,122.299 "/>
      <path id="XMLID_8_" class="st10" d="M127.114,103.327L99.59,98.865l2.466-15.208c0.608-3.75,4.14-6.296,7.89-5.688l13.452,2.181
        c4.022,0.652,6.754,4.441,6.102,8.463L127.114,103.327z"/>
      <line id="XMLID_9_" class="st11" x1="109.946" y1="77.968" x2="84.783" y2="226.86"/>
      <line id="XMLID_10_" class="st11" x1="115.708" y1="79.915" x2="90.545" y2="228.807"/>
      <line id="XMLID_11_" class="st11" x1="120.804" y1="79.728" x2="95.641" y2="228.62"/>
      <line id="XMLID_12_" class="st11" x1="125.739" y1="80.529" x2="100.577" y2="229.421"/>
      <line id="XMLID_13_" class="st11" x1="100.502" y1="98.724" x2="75.339" y2="247.616"/>
      <line id="XMLID_14_" class="st11" x1="128.141" y1="103.205" x2="102.978" y2="252.097"/>
      <circle id="XMLID_11_" class="st7" cx="24.5" cy="68.5" r="2.5"/>
      <circle id="XMLID_12_" class="st7" cx="119.5" cy="28.5" r="1.5"/>
      <circle id="XMLID_13_" class="st7" cx="172.5" cy="103.5" r="2.0"/>
      <circle id="XMLID_14_" class="st7" cx="244.5" cy="92.5" r="1.0"/>
      <circle id="XMLID_11_" class="st7" cx="214.5" cy="18.5" r="2.5"/>
      <circle id="XMLID_12_" class="st7" cx="119.5" cy="38.5" r="1.5"/>
      <circle id="XMLID_13_" class="st7" cx="172.5" cy="203.5" r="2.0"/>
      <circle id="XMLID_14_" class="st7" cx="144.5" cy="12.5" r="1.0"/>

      </svg>

      </div>
    </div>
    <div class="story" id="s2">
      <div class="info">
      <h3>Tower of Pisa</h3>
      <p> The Leaning Tower of Pisa or simply the Tower of Pisa is the campanile, or freestanding bell tower, of the cathedral of the Italian city of Pisa, known worldwide for its unintended tilt</p>

      </div>
    </div>
  </div>

  <div class="page">
  <h4>Hover the card</h4>
  <ul><li> <<< </li>

  <li> >>> </li>
  </ul>
  </div>

</div>


</body>
</html>


















    <div id="box-4">
      <div class="container">
        <div class="row" style="margin-top: 8vh;">
          <div class="col-md-12" >
            <h2 style="text-align: center;padding-bottom:5%;padding-top:20%;font-size:6em;color: white;font-size: 7vw;">Basics of Our Faith</h2><p style="padding-top:5%;font-size: 3vw;">&emsp; &emsp;As United Methodists, we have an obligation to bear a faithful Christian witness to Jesus Christ, the living reality at the center of the Church’s life and witness. To fulfill this obligation, we reflect critically on our biblical and theological inheritance, striving to express faithfully the witness we make in our own time.</p></div>
          </div>
          <div class="row" style="/*background-color:rgba(255,255,255,0.46);*/">
            <div class="col-md-6"></div>

          </div>
        </div>
      </div>
      <div >
        <div class="container" style="background-color: white; margin-top: 5%; margin-bottom: 5%; border-radius: 2%;">
          <div class="row">
           <div class="row">
            <div class="col-md-6"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502405941/churchfront_whuwo7.jpg" style="display:block;margin-left:auto;margin-right:auto;margin-top:10%;border-radius:2%; box-shadow:15px 14px 20px;"></div>
            <div class="col-md-6" style="margin-top:7%;">
              <blockquote style="box-shadow:15px 14px 20px;">
                <p style="color:black;">What one generation tolerates, the next generation will embrace.</p>
                <footer>John Wesley</footer>
              </blockquote>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div id="box-5">
      <div class="container">
        <div class="row" style="display:block;margin-left:auto;margin-right:auto;padding-top:10%;padding-bottom:10%;">

          <div class="col-md-6" style="display:block;margin-left:auto;margin-right:auto;padding-top:14%;padding-bottom:10%;border-radius:50%;"><img src="http://res.cloudinary.com/wesley-united-methodist-kc/image/upload/v1502558659/Capture7_qfgpxk.jpg" style="display:block;margin-left:auto;margin-right:auto;padding-top:10%;;border-radius:65%;"></div>
          <div class="col-md-6" style="display:block;margin-left:auto;margin-right:auto;padding-top:5%;padding-bottom:10%;"><h2 style="text-align: center;padding-bottom:5%;font-size:7vw;color: white;">Sermons</h2> <p style="padding-top:5%; font-size: 3vw;">&emsp; &emsp;At Wesley United, we believe that the word of the Lord should be share with everyone.  Because of this, we record the Sermons every Sunday.    <br> <br>&emsp; &emsp;We invite you to download or stream the latest words.  Our archive contains past Sermons with synopses, to help you find the right words and guidance for you.</p></div>

        </div>
      </div>
    </div>
  </div>








