<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="slider">
<figure>
<img src="austin-fireworks.jpg" alt>
<img src="taj-mahal_copy.jpg" alt>
<img src="ibiza.jpg" alt>
<img src="ankor-wat.jpg" alt>
<img src="austin-fireworks.jpg" alt>
</figure>
</div>

<!--PEN CODE-->
<div class="blog-card">
  <div class="photo photo1"></div>
  <ul class="details">
    <li class="author"><a href="#">John Doe</a></li>
    <li class="date">Aug. 24, 2015</li>
    <li class="tags">
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
      </ul>
    </li>
  </ul>
  <div class="description">
    <h1>Learning to Code</h1>
    <h2>Opening a door to the future</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <a href="#">Read More</a>
  </div>
</div>
<div class="blog-card alt">
  <div class="photo photo2"></div>
  <ul class="details">
    <li class="author"><a href="#">Jane Doe</a></li>
    <li class="date">July. 15, 2015</li>
    <li class="tags">
      <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </li>
  </ul>
  <div class="description">
    <h1>Mastering the Language</h1>
    <h2>Java is not the same as JavaScript</h2>
    <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    <a href="#">Read More</a>
  </div>
</div>
<!--END PEN CODE-->


<main>
  <section id="menu" class="close">

  </section>

  <section id="content">
    <section id="article-cover">
      <div class="hero-photo"></div>
      <div id="article-details">
        <div class="article-details-wrapper responsive">
          <div class="article-category"><a href="#">Kategoria</a></div>
          <h1 class="article-title">Kahden Rivin Title</h1>
          <div class="article-abstract">Tämä on ingressi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea veniam aperiam, molestiae earum cumque ad maiores facilis. Fuga ab odio, reiciendis obcaecati dolor, accusantium eos similique quis quasi officia, ipsum.</div>
          <div class="article-byline">Text: <strong>Kirjoittajan Nimi</strong></div>
          <div id="read-more" class="responsive">
            <a href="#article-body">Lue Lisää<i class="fa fa-angle-double-down fa-2x"></i></a>
          </div>
        </div>
      </div>
    </section>

    <section id="article-body" class="responsive">
      <div class="article-copy dropcap">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet quam id metus interdum congue quis eget sapien. Maecenas non viverra urna. Aliquam ante felis, mattis eu purus at, scelerisque consectetur turpis. Fusce nec mollis purus. Aenean viverra, odio eget tempus lobortis, nulla odio aliquam mauris, ornare rutrum turpis mauris a sem. Integer in magna sed nisi varius fringilla pellentesque quis neque. Etiam ac placerat purus, quis suscipit nisl. Mauris dolor ipsum, volutpat at placerat in, lacinia non velit. Ut at nisl nec ipsum pharetra luctus.
        </p>
        <p>
          Proin imperdiet luctus quam, vitae pellentesque mauris tincidunt nec. Sed vestibulum nulla sed lacinia porttitor. In convallis sodales erat sit amet cursus. Morbi suscipit, metus sed luctus sollicitudin, tellus eros rhoncus orci, sed molestie tellus quam at metus. Nullam blandit enim velit, a rutrum nulla fermentum at. Donec feugiat commodo purus ut efficitur. Cras urna dolor, luctus nec velit non, maximus aliquet tellus.
        </p>
        <aside class="article-sidebar">
          <h3>Sidebar Title</h3>
          <h4>Sidebar Subtitle</h4>
          <ol>
            <li>
              <div class="sidebar-list-item">
                <h5>Ensimmäisen pointin otsikko</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
              </div>
            </li>
            <li>
              <div class="sidebar-list-item">
                <h5>Otsikko</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
              </div>
            </li>
            <li>
              <div class="sidebar-list-item">
                <h5>Otsikko</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
              </div>
            </li>
          </ol>
        </aside>
        <p>Integer quis elit bibendum, placerat lorem non, fermentum velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur at imperdiet elit, quis commodo odio. Nunc ultrices nulla vitae tincidunt congue. Praesent ut varius felis. Vivamus mollis, tellus nec tempus lacinia, ante risus convallis tellus, ac vestibulum lectus lorem quis neque. Etiam mauris mauris, malesuada vitae odio quis, pulvinar accumsan nisl. Aenean erat nisi, condimentum sit amet porttitor a, ultrices ut neque.</p>
        <p>
          Vestibulum condimentum ullamcorper hendrerit. Donec vel lacinia tellus. Proin et justo feugiat, ornare nibh et, ullamcorper turpis. Morbi a lacus vulputate, aliquam justo id, rutrum dui. Suspendisse sodales, nulla eu egestas ultrices, turpis magna mattis sapien, id ornare arcu nulla vitae metus. <span class="pullquote">Ut cursus augue in arcu fermentum, ut facilisis est fermentum.</span> Vestibulum volutpat, ante sagittis feugiat elementum, metus massa vestibulum nulla, at lacinia quam tortor nec augue.
        </p>
        <p>
          Aenean id consectetur magna, in volutpat odio. Nunc vulputate, nisi vitae facilisis ultrices, ligula urna laoreet elit, eu fermentum diam neque et purus. Nullam vel nibh turpis. Nulla facilisi. Proin a pretium arcu. Nullam gravida non lectus non venenatis. Aenean quis luctus elit, ut tempus leo.
        </p>
        <p>
          Morbi semper orci velit, ut fringilla mi ultrices quis. Sed at venenatis risus. Quisque ligula nunc, auctor tempor dolor a, pellentesque ornare risus. Suspendisse iaculis condimentum ipsum a scelerisque. Nam ut laoreet nisl. Maecenas ornare eros vel mauris fringilla convallis. Integer scelerisque erat arcu, quis pellentesque augue venenatis quis. Etiam non facilisis libero. Fusce a tincidunt massa. Pellentesque vitae nibh dictum, congue purus vel, feugiat nisi.
        </p>
        <p>
          Donec congue finibus tellus et consequat. Nam sed nisl accumsan, congue tortor sed, dapibus mi. Cras at eros volutpat, ultricies mi sed, maximus leo. Aliquam erat volutpat. Phasellus faucibus ex eget mi cursus, ut placerat mauris luctus. Vestibulum et tempor nisi, id ultricies dolor. Praesent mollis tristique nisi nec vestibulum. In eu imperdiet felis. Nunc ultricies ultricies odio id vehicula. Integer ut placerat orci, quis finibus enim. Curabitur eleifend, nulla vitae fringilla blandit, felis tortor molestie erat, sit amet laoreet dolor purus sit amet ipsum. Nulla a fringilla lacus. Donec faucibus nisi ipsum, at efficitur leo accumsan at. Nam pharetra, odio id euismod venenatis, felis felis tristique neque, ut sodales purus est eu arcu.
        </p>
        <p>
          Donec orci urna, volutpat auctor sagittis sed, tincidunt eget urna. Vestibulum efficitur sem magna, quis consectetur dui mattis eget. Aliquam arcu nulla, rhoncus rutrum suscipit sed, tempor in lorem. Pellentesque auctor magna ac malesuada aliquet. Sed auctor lorem maximus facilisis vulputate. Nullam eu tempor nisl. Maecenas porta gravida dictum. Nullam efficitur augue in libero elementum, eget gravida velit fermentum.
        </p>
        <p>
          Morbi posuere at dui in tempor. Aliquam pulvinar auctor lobortis. Nullam posuere suscipit consectetur. Donec sed finibus nulla, sed finibus dui. Phasellus gravida est nulla, quis rhoncus arcu gravida quis. Mauris ultrices congue velit, vel tincidunt nibh sollicitudin in. Duis pulvinar eget dolor sed dapibus. Curabitur in luctus augue.
        </p>
        <p>
          Nulla facilisi. Nunc ac eros augue. Fusce finibus sapien nisi, id pretium erat venenatis sed. Donec elementum egestas volutpat. Donec ullamcorper vitae nulla eu posuere. Aenean euismod justo et placerat feugiat. Praesent sit amet ante purus. <span class="pullquote">Nunc imperdiet mollis interdum.</span> Fusce gravida, libero lacinia faucibus pellentesque, nibh leo varius velit, quis tristique neque justo nec justo. Etiam sagittis ex ac mi dapibus dapibus. Donec et arcu blandit, aliquet sem eu, commodo mi.
        </p>
      </div>
    </section>
    <section id="article-images">
      <figure>
        <img src="http://placehold.it/1400x675"/>
        <figcaption>Kuvateksti ensimmäiselle kuvalle.</figcaption>
      </figure>
      <figure>
        <img src="http://placehold.it/1400x675"/>
        <figcaption>Kuvateksti toiselle kuvalle.</figcaption>
      </figure>
      <figure>
        <img src="http://placehold.it/1400x675"/>
        <figcaption>Kuvateksti kolmannelle kuvalle.</figcaption>
      </figure>
      <figure>
        <img src="http://placehold.it/1400x675"/>
        <figcaption>Kuvateksti neljännelle kuvalle.</figcaption>
      </figure>
      <figure>
        <img src="http://placehold.it/1400x675"/>
        <figcaption>Kuvateksti viidennelle kuvalle.</figcaption>
      </figure>
    </section>
  </section>
</main>
