








   <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: black;" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


          <div class="small-logo-container">
            <a class="small-logo" href="#">>Joseph DiFrancesco_</a>
          </div>





            </a>
          </div>
        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right" style="color:white;">

            <li class="active" style="color:white;"><a href="#">Home</a></li>
            <li><a style="color:white;" href="#">Web Development </a></li>
            <li><a style="color:white;" href="#">Augmented Reality </a></li>
            <li><a href="#">Robotics</a></li>
             <li><a href="#">Research Papers</a></li>
             <li><a href="#">Military Experience</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid big-logo-row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 big-logo-container" style="text-align:center;    display: flex;
    margin-left: auto;
    margin-right: auto;">
            <p class="big-logo" style="text-align:center;    margin-top: 2%;display: flex;
    margin-left: auto;
    margin-right: auto;">>Joseph DiFrancesco_</p>
          </div><!--/.col-xs-12 -->
        </div><!--/.row -->
      </div><!--/.container -->
    </div><!--/.container-fluid -->


