@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

.scramble {
  padding-top:10%;
  font-family: 'Roboto Mono', monospace;
  height: 25%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: bolder;
  font-size: 5vw;
  color: #fafafa;
}
.dud {
  color: #757575;
}
