

  <nav class="site-nav transition" data-spy="scroll">
        <a class="nav-link smoothScroll" href="#about">ABOUT</a>
        <a class="nav-link smoothScroll" href="#services">Services</a>
        <a class="nav-logo smoothScroll" href="#home"><img src="assets/img/hipster_logo.png" height="50px"></a>
        <a class="nav-link smoothScroll" href="#projects">PROJECTS</a>
        <a class="nav-link smoothScroll" href="#contact">Contact</a>
   </nav>

